body {
	font-size: 14px;
	background-color: rgb(245, 245, 245);
	width: 100%;
	height: 100%;
	margin: 0;
}

.main-container {
	margin-top: 0;
}

.center-main {
	max-width: 960px;
	margin: auto;
	font-family: system-ui;
}

.centerPage {
	margin: auto;
	margin-top: 20px;
	width: 60%;
}

.center-main > img, .center-main > div > img {
	width: 100%;
}

.center-main > p, .center-main > div > p {
	padding: 5px 10px;
	margin-bottom: 10px;
	letter-spacing: 0.23px;
    line-height: 20px;
    text-align: justify;
    font-size: 16px;
}

#footerSpace {
	margin-top: 40px;
}

.pageMainImage {
	margin: auto;
	text-align: center;
	max-width: 1280px;
}

.pageMainImage > img {
	width: 100%;
}

.titleH1 {
	margin-top: 20px;
    font-family: 'Courier New', monospace;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.19;
    color: rgb(0, 0, 0); 
    margin-bottom: 10px;
	text-align: center;
}

.titleH2 {
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-top: 0px;
    line-height: 1.29;
    letter-spacing: 0.08px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
}


@media (max-width: 1280px) {

    .centerPage {
        width: 100%;
    }
}