* {
  box-sizing: border-box;
}

.teamMain {
  max-width: 960px;
  margin: auto;
  margin-top: 25px;
}

#myBtnContainer {
  margin-left: 10px;
}

.teamRow, .teamRow > .teamColumn {
  padding: 5px;
}

.teamColumn {
  float: left;
  width: 25%;
  display: none;
}

.teamRow:after {
  content: "";
  display: table;
  clear: both;
}

.teamContent {
  position: relative;
  background-color: rgb(29, 32, 34);
  background-image: url(/images/teams/men/background.png);
  background-size: cover;
  cursor: pointer;
  height: 306px;
}  

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

@media screen and (max-width: 1200px) {
  .teamColumn {
    width: 33.33%;
  }

  .teamContent {
    height: 340px;
  }
}

@media screen and (max-width: 900px) {
  .teamColumn {
    width: 50%;
  }

  .teamContent {
    height: 420px;
  }
}

@media screen and (max-width: 600px) {
  .teamColumn {
    width: 100%;
  }

  .teamContent {
    height: 100%;
  }
}

.text-block {
  position: absolute;
  bottom: 10px;
  color: white;
  padding-left: 8px;
}

.text-block > h1 {
  font-size: 35px;
  border-bottom: 5px solid red;
  width: 37%;
  text-align: center;
  border-bottom-width: thin;
  margin: 20px 0px;
}

.teamColumn-img {
  width: 100%;
  height: 100%;
}

.back-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 44%, rgb(0, 0, 0) 84%); 
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; 
}