.titles {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
}

.awardInfo {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

@media (max-width: 813px) {

	.titles {
		width: 90%;
	}

	.awardInfo {
        flex-direction: column;
        margin-top: 15px;
    }

}